li {
    list-style-type: none;
}

li.ItemNotDone {
    text-decoration-line: none;
}

li.ItemDone {
    text-decoration: line-through;
}

body {
    background-color: gray;
}

.Container {
    position: absolute;
    left: 50%;
    transform: translateX(50%);
}